/**
* @stylesheet variables.less Variables
* @parent bit-docs/theme
*
* @description Variables to hold site-wide visual configurations.
*/

// Font appearance

@defaultFontFamily: "Helvetica Neue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Breakpoints for use with @media

@smartphones: ~"only screen and (max-width: 767px)";
@desktops: ~"only screen and (min-width: 767px)";
