<nav class="sidebar">
	{{#with (getCurrentTree)}}
		{{#if children.length}}
			<ul>
				<li class="">
					<a class="home" href="{{urlTo (siteConfig "parent")}}" title="Home">
						Home
					</a>
				</li>
			</ul>
		{{/if}}
		{{>menu.mustache}}
	{{/with}}
</nav>
